/*This CSS document originated as a template from https://www.free-css.com/ and has subsequently been customized to fit the dashboard*/

@import url(http://fonts.googleapis.com/css?family=Abel);

body { background-color:#F8F3E5; color: #555; font-family: 'Abel', sans-serif;  font-size: 18px; font-weight:normal;margin: 0; }
a:link, a:visited, a:active{ color: #414c9c; text-decoration: none; }
a:hover {color: #FC436B; text-decoration: underline; }
img {padding:0px; border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;}

.icon, .hide {font-size:20px;}
.right {text-align:right; }
.hide {display: none;}

#top_banner {
	display: flex;
	height: 100px;
}

ul#topbanner  {
    display: table-row;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom:0;
}

ul#topbanner li {
    list-style-type: none;
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    margin: 0px;
}


ul#topbanner li a {
    display:block;
    padding:4px 0px;
    margin: 0px;
}

#menu {
    width:100%;
    min-height:50px;
    background-color: /*#01dddd #B61B82 #03D7CB*/  #ABCB77;
    position:relative;
    top:0; left:0;
}

#menu a {
    background-color:inherit;
    color: #fff;
}

#menu a:hover {
    background: inherit;
    color: #ccc;
    text-decoration:none;
}

nav {
    display: table;
    table-layout: fixed;
    width: 70%;
    margin: 0 auto;
}

ul#topnav  {
    display: table-row;
    padding: 0;
    overflow: hidden;
    position:relative;
    bottom:0;
}

ul#topnav li {
    list-style-type: none;
    display: table-cell;
    text-align:center;
    vertical-align:middle;
}


ul#topnav li a {
    display:block;
    padding:4px 0px;
}

#container {
    width:100%;
    margin-top:48px;
}

#pageheader {
    display:table;
    width:1000px;
    margin-left: 5%;
    margin-top: 2%;
    text-align: left;
}

.pagetext {
    display:table;
    width:1000px;
    margin-left: 5%;
    text-align: left;
}

#float-parent-element{
    width: 100%;
} 

#float-parent-element-2{
    width: 100%;
    margin-top:650px; 
}

#float-parent-element-3{
    width: 100%;
    margin-left: 5%;
} 

.float-child-element{ 
    float: left; 
    width: 50%;
    height: auto;
}

.left-Main { 
    margin-left: 10%;
    margin-right: 5%;
} 

.right-Main { 
    margin-left: 5%;
    margin-right: 10%;
} 

.left-Sub {
    margin-left: 5%;
    margin-right: 5%;

.right-Sub {
    margin-left: 5%;
    margin-right: 5%;
}

.left-N { 
    margin-left: 10%;
    margin-right: 5%;
    width: 90%;
} 
.right-N { 
    margin-left: 5%;
    margin-right: 5%;
    width: 105%;
}

.left-Bio { 
    margin-left: 0%;
    margin-right: 5%;
    width: 150%; 
} 
.right-Bio { 
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
    text-align: left;
}

#textsection {
    display:table;
    width:100%;
    margin-left: 5%;
    text-align: left;    
}




.graph-mainpage {
    width: 100px;
    height: auto;
}



#chartsection {
    display:table;
    width:100%;
    margin-left: 5%;
    text-align: left;    
}


.image {
  position: relative;
  text-align: center;
  color: white;
}
